// Control color theme
body {
  &.white-theme {
    // background-color: #a6a5b2;
  }

  &.dark-theme {
    // background-color: #343434;
  }

  &.warm-theme {
    // background-color: #de886c;
  }
}

// Control Font
#book {
  &.Noto-Naskh-Arabic {
    font-family: NotoNaskhArabic, sans-serif;
  }

  &.Arial {
    font-family: Arial, serif;
  }

  &.Tahoma {
    font-family: Tahoma, serif;
  }
}
