html {
  font-size: 20px;
  height: 100%;
}

#app-root {
  height: calc(100vh + -6rem);
  padding: 3rem 0;
  overflow-x: auto;
  display: flex;

  #book {
    overflow-x: hidden;
    overflow-y: hidden;
    column-width: calc(45vw - 2rem);
    padding: 0 40px;
    column-gap: 3rem;
    direction: rtl;
    height: 100%;
    box-sizing: border-box;
    flex-grow: 1;
  }
}

.panel {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 14px 24px;
  bottom: 0;
  display: flex;
  column-gap: 20px;
  box-sizing: border-box;

  &__navigation {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 5px;

    button {
      background-color: transparent;
      border: 0.5px solid #a6a5b2;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 18px;
      &:not(:disabled) {
        cursor: pointer;
      }
    }

    #navigation-feedback {
      margin: 0 20px;
    }
  }
}
