@import './mixins';
@import './book-controls';

html {
  font-size: 20px;
  height: 100%;
}

#app-root {
  height: calc(100vh + -6rem);
  padding: 3rem 0;
  overflow-x: auto;
  display: flex;

  #book {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0 40px;
    column-gap: 3rem;
    column-count: 2;
    direction: rtl;
    height: 100%;
    box-sizing: border-box;
    flex-grow: 1;
  }
}

.panel {
  position: fixed;
  display: none;
  left: 0;
  bottom: -80px;
  width: 100%;
  background-color: rgb(245, 245, 245);
  padding: 14px 24px;
  display: flex;
  box-sizing: border-box;

  @include transition(bottom 300ms ease-in-out);

  &.opened {
    bottom: 0;
  }

  &__progress-bar {
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;

    div {
      height: 100%;
      width: 0%;
      background-color: #ff7a4f;

      @include transition(width 500ms ease-in-out);
    }
  }

  &__navigation {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 5px;

    #navigation-feedback {
      margin: 0 20px;
    }
  }

  button.action-button {
    background-color: transparent;
    border: 0.5px solid #a6a5b2;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;

    &:not(:disabled) {
      cursor: pointer;
    }
  }
}

.controls {
  position: relative;
  display: none;

  &.opened {
    display: block;
  }

  &__dropdown-menu {
    position: absolute;
    bottom: 51px;
    left: -12px;
    width: 349px;
    background-color: #fff;
    color: #000;
    border-radius: 1rem;
    box-shadow: 0 0 30px rgb(0 0 0 / 20%);
    z-index: 10;

    &:before {
      content: "";
      position: absolute;
      bottom: -13px;
      left: 22px;
      z-index: 1;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 14px 12px 0 12px;
      border-color: #ffffff transparent transparent transparent;
    }

    .font-size-control {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex: 1;
        border-radius: 0;
        padding: 20px;
        height: 60px;
        border: 0;
        border-right: 0.01rem solid grey;
        border-bottom: 0.01rem solid grey;
        background-color: transparent;
        cursor: pointer;

        &:last-child {
          border-right: 0;
        }

        &#smaller-font {
          font-size: 15px;
        }

        &#reset-font {
          font-size: 20px;
        }

        &#larger-font {
          font-size: 25px;
        }
      }
    }

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.1rem;
      padding: 15px 10px;
    }
  }

  .themes {
    display: flex;
    column-gap: 12px;

    .color-btn {
      background-color: #a6a5b2;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: 2px solid transparent;
      cursor: pointer;

      &[data-value="white-theme"] {
        background-color: #fff;

        &.selected {
          border-color: #000;
        }
      }

      &[data-value="dark-theme"] {
        background-color: #000;

        &.selected {
          border-color: #fff;
        }
      }

      &[data-value="warm-theme"] {
        background-color: #f6efdf;

        &.selected {
          border-color: rgb(239 201 118);
        }
      }
    }
  }

  .selected-font {
    font-size: 16px;
    background-color: transparent;
    border: 0;
    color: rgb(0 0 0 / 51%);
    cursor: pointer;
  }

  .fonts-list {
    // display: none;

  }
}
